<header class="main-header">
    <div class="logo">
        <span>E-commerce</span> <small class="live-tag">LAB</small>
    </div>
    <nav class="navigation-menu">
        <a href="/" class="nav-link">Peticiones HTTP</a>
        <a href="/live" class="nav-link live-btn">Productos en Vivo</a>
    </nav>
</header>